extends ../layouts/common

block content
  h1 Create Users
  form(action="create", method="POST")
    label Name
    input(name="name", type="text")

    label Phone
    input(name="phone", type="text")

    button Create 